*{
    margin:0px;
    padding:0px;
}
body{
  background: url("./webbackground.jpg");
  background-size: 100%;
  width:100%;
}
.aboutus{
  margin-top:100px;
}
.abus{
    text-align: left;
    text-decoration: underline;
    line-height: 2;

}
.buttons{
    position:relative;
    bottom:40px;
}
/*.top-container{
    background-color: aquamarine;
    margin-top:0px;
    height:12rem;
    position:relative;
}*/
.heading{
    position:relative;
    top:10px;
    left:10px;
} 
.aboutus1{
  line-height: 1.2;
  width:30%;
  position:relative;
  top:10px;
}
.signupbutton {
    background: #3498db;
    border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #121517 2px;
    text-decoration: none;
    margin-right:30px;
    margin-top:10px;
    position:absolute;
    top:auto;
    bottom:auto;
    right:2rem;
  }
  
  .signupbutton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -moz-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -ms-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -o-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: linear-gradient(to bottom, #3cb0fd, #34d1d9);
    text-decoration: none;
  }
  .loginbutton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 20px;
    margin-right:30px;
    margin-top:10px;
    padding: 10px 20px 10px 20px;
    border: solid #121517 2px;
    text-decoration: none;
    position:absolute;
    top:auto;
    bottom:auto;
    right:12rem;
  }
  
  .loginbutton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -moz-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -ms-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: -o-linear-gradient(top, #3cb0fd, #34d1d9);
    background-image: linear-gradient(to bottom, #3cb0fd, #34d1d9);
    text-decoration: none;
  }